html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  button:disabled {
    cursor: default;
  }
  
  button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }

 /* Nav Bar */

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: black;
    color: white;
}

header h1 {
    padding: 0px;
    display: flex;
    list-style: none;
    font-size: 45px;
}

.nav-item {
    padding: 0px;
    font-size: 28px;
    display: flex;
    list-style: none;
}

/* About Section */

.aboutContainer {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutContainer p {
    font-size: 20px;
}

.aboutItem{
    justify-content: center;
}

.aboutImage {
    padding: 15px;
}

/* Portfolio Section */

.portfolioHeading {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.cards {
    display: flex;
    flex-wrap: flex-start;
    justify-content: space-between;
    padding: 10px;
 }
  
 .card {
     flex: 0 1 24%;
 }

 /* Contacts section */

 legend {
    text-align: center;
 }

 .contactForm{
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
 }

 .formItem {
    padding: 1rem;
    order: 1;
 }

 input, textarea {
    margin: 10px
 }

 .error {
    color: red;
 }

 /* Resume Section */

.resumeDiv {
    text-align: center;
}

.resumeContent {
 padding: 15px;
}

ul li {
    list-style-type: none;
}

 /* Footer Section */

footer {
    background-color: black;
    padding: 1rem;
    margin-top: auto;
}